button {
  color: aquamarine;
  background-color: brown;
}

.w3-container {
  background-color: rgb(138, 138, 138);
   text-align: center;
}

.w3-input {
  width : 100%;
  margin : 0.5rem;
  
  padding: 1000px;
}
